<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mt-10 max-w-lg sm:mx-auto md:max-w-none">
        <h2 class="text-2xl font-semibold leading-9 text-gray-900">
            Best Performance and Optimization Techniques - Provide support for any issue that arise
        </h2>
        <p>
            We can use a performance module with the onChangeDetection to monitor observables and async pipes that handle data streams, from child components that emit data.
            <br />
            <em>* Don't forget to unsubsribe and destroy the subscription since it's async.</em>
        </p>
        <!-- TODO: MOVE TO A COMPONENT TO USE ON HOMEPAGE! -->
        <h1 class="text-xl font-semibold leading-7 text-gray-800 mt-10">Display Trending Coins</h1>
        <div *ngIf="data$ | async as coins" class="flex flex-wrap justify-between">
            <div *ngFor="let coin of coins">
                <div class="max-w-sm rounded overflow-hidden shadow-lg m-10">
                    <img [src]="coin.item.small" class="float-right">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">
                            <h3>{{ coin.item.name }}</h3>
                        </div>
                    </div>
                    <div class="px-6 pt-4 pb-2">
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                            #{{ coin.item.id }}
                        </span>
                        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                            #{{ coin.item.symbol }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="text-lg font-semibold leading-7 text-gray-800 mt-10">Grease App Listings</h3>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veniam omnis similique, voluptatibus quisquam eum eius quos perferendis alias mollitia iure neque ipsa ratione molestias atque officiis nam architecto distinctio. Neque.
        </p>
        
        <h3 class="text-lg font-semibold leading-7 text-gray-800 mt-20">Note:</h3>
        <p>
            What was I doing with -> ChangeDetectionStrategy?
        </p>
    </div>
</div>