<div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="my-5 max-w-lg sm:mx-auto md:max-w-none">
        <h1 class="text-4xl font-bold leading-7 text-gray-900">
            Quantity Label
        </h1>
        <p class="mt-5">
            TODO: Write a quantify label function. It will take
            2 inputs. The first input is a string that is
            a singular form of a word. The second input is
            a number the indicates the count. The function
            should return a string that combines the count
            and the word such that the word is plural or
            singular depending on the count.
        </p>
        <app-quantity-label></app-quantity-label>
    </div>
</div>
