<!-- Video 1 - STREAMS -->
<div class="mx-auto max-w-7xl px-6 lg:px-8" id="intro-streams">
    <div class="my-5 max-w-lg sm:mx-auto md:max-w-none">
        <h1 class="text-4xl font-bold leading-7 text-gray-900">
            Hello rxjs - Streams {{ counter }}
        </h1>
        <p class="mt-5">
            The Stream of values! What is a stream?
            <br />
            Note: Stream of values IE. Every click you do is a stream of values
            This will stream all values of click events! Often found streamers JS intervals
            Preiodically exec by the runtime in order to perform a certain task such as long polling data req
        </p>
    </div>
</div>
<hr>
<!-- Video 2 - Observsable -->
<div class="mx-auto max-w-7xl px-6 lg:px-8" id="observables">
    <div class="my-5 max-w-lg sm:mx-auto md:max-w-none">
        <h1 class="text-4xl font-bold leading-7 text-gray-900">
            Hello rxjs - Observsables
        </h1>
        <p class="mt-5">
            
        </p>
    </div>
</div>
