<!-- Video 1 - STREAMS -->
<div class="mx-auto max-w-7xl px-6 lg:px-8" id="intro-streams">
    <div class="my-5 max-w-lg sm:mx-auto md:max-w-none">
        <h1 class="text-4xl font-bold leading-7 text-gray-900">
            Hello rxjs - Streams {{ counter }}
        </h1>
        <p class="mt-5">
            The Stream of values! What is a stream?
            <br />
            Note: Stream of values IE. Every click you do is a stream of values
            This will stream all values of click events! Often found streamers JS intervals
            Preiodically exec by the runtime in order to perform a certain task such as long polling data req
        </p>
    </div>
</div>
<hr>
<!-- Video 2 - Observsable -->
<div class="mx-auto max-w-7xl px-6 lg:px-8" id="observables">
    <div class="my-5 max-w-lg sm:mx-auto md:max-w-none">
        <h1 class="text-4xl font-bold leading-7 text-gray-900">
            Hello rxjs - Observsables
        </h1>
        <p class="mt-5">
            Creating a definition of an rxjs stream not instance/reference. But a declaration of that stream.
            <br />
            interval() -> rxjs observables are displayed by the syntax
            variableName<strong style="text-decoration: underline;">$</strong>
            <br />
            Interval Observable< number >
            .subsribe(); so we can create a stream of values recieving those values here in the subscription.
            <br />
            <strong>A definition of a stream is an observable!</strong>
        </p>
        <p>
            Browser event observables streams and observables : ) let's go over more deeper stuff ;)
        </p>
        <button
            class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
            (click)="runDemo();">
            Test Demo Streams
        </button>
    </div>
</div>
<hr>
<!-- Video 3 -  -->
<div class="mx-auto max-w-7xl px-6 lg:px-8" id="">
    <div class="my-5 max-w-lg sm:mx-auto md:max-w-none">
        <h1 class="text-4xl font-bold leading-7 text-gray-900">
            Hello rxjs - concatMap Operator
        </h1>
        <p class="mt-5">
            The first video wasn't very good for me to walkthrough. Trying to find some demos 
            and excercise without having to type the form and inputs etc.
        </p>
    </div>
</div>
<hr>