<!-- Note: Also updating homepage and the menulinks :) -->
<div class="bg-white py-10 sm:py-20 lg:py-10">
    <!-- Hero home section -->
    <app-hero
        [title]="homeHeroData.title.t2"
        [tagline]="homeHeroData.tagline"
        [summary]="homeHeroData.summary"
        [btn1txt]="homeHeroData.btn1txt"
        [btn1link]="homeHeroData.btn1link"
        [btn2txt]="homeHeroData.btn2txt"
        [btn2link]="homeHeroData.btn2link">
    </app-hero>
    <!-- 4 points of angular ? -->
    <app-point-grid [pointGridData]="pointGridData"></app-point-grid>
</div>
<!-- TODO: Move to it's own component -->
<div class="card-container">
    <div class="card" *ngFor="let question of questions">
        <div class="card-header">
            {{ question.title }}
        </div>
        <div class="card-body">
            {{ question.description }}
        </div>
        <div class="card-footer">
            <a [routerLink]="question.link">Learn More</a>
        </div>
    </div>
</div>