// TODO: Move this to global!
.text-center {
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .card {
        flex: 1;
        padding: 20px;
        margin: 3em 2em;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        // Add any other styles here

        .card-header {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-footer {
            margin-top: 10px;
        }
    }
}